@font-face {
    font-family: japan;
    src: url(./JapanBentoDemoVersionRegular-nRWAJ.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:gilroy ;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */    
    background:url(./kakashi_hatake_hd_naruto_5.jpg) ;
    background-size: cover;
    opacity: 1;
}

#nav{
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.148);
}

#nav img{
    height: 70px;
    scale: 1;
    margin: 12px 16px;
    background-image: url();
    
}
#nav img:hover{
    transition: all ease .2s;
    scale: 1.07;
}
#nav2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:19px;
    position: relative;
    padding: 0 60px;
    font-family: gilroy;
}
#nav2 h5{
    scale: 1;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 6px 8px;
    box-shadow: none;
    color: #fff;
    scale: 1;
    cursor: pointer;
    opacity: 1;
}
#nav2 h5:hover{
    border: 2px solid  ;
    transition: all ease .1s;
    box-shadow: 1px 1px 5px #32e8fa;
}

#profile>img{
    height: 300px;
    position: absolute;
    top: 27%;
    right: 7%;
    border: none;
    outline: none;
    opacity: 1;
    transform-origin:  80% 0;


}
#info{
    height: 300px ;
    width: 300px;
    background: rgba(0, 0, 0, 0.178); 
    position: absolute;
    top: 30%;
    left: 4%;
    font-family: gilroy;
    display: flex;
    align-items: initial;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    padding: 8px 18px;
}

#info h1{
    color: black;
    font-size: 45px;
    background-color: #fff;
    font-family: japan;
}
#info #swap{
    margin-bottom: 17px;
    margin-top: 8px;
    margin-left:100px;

}
#info h3{
    font-size: 20px;
}

#info h5{
    font-size: 17px;
}


#info p{
    font-size: 12px;
    color: white;
    text-align: center;
}